*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.box{
    height: 29px;
    width: 32px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #00b4d8;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(10, 5px);
    grid-row-gap: 1px;
    grid-column-gap: 30px;
    width: 350px;
}