*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.box{
    height: 29px;
    width: 32px;
    border: 1px solid black;
    cursor: pointer;
    background-color: #00b4d8;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(10, 5px);
    grid-row-gap: 1px;
    grid-column-gap: 30px;
    width: 350px;
}
section{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

h1{
  display: flex;
  justify-content: center;
  font-family: 'Uncial Antiqua', cursive;
  font-size: 6.5vw;
}

 h2{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #d62828;
}

button {
  height: 40px;
  width: 150px;
  background-color: #023047;
  color: white;
  border: 1px solid #00b4d8;
  
}